appnope
asgiref
backcall
decorator
Django==3.2.9
django-cors-headers
djangorestframework==3.12.4
django-spa
dj_database_url
gunicorn
ipython
ipython-genutils
jedi
matplotlib-inline
numpy
pandas
parso
pexpect
pickleshare
prompt-toolkit
psycopg2-binary==2.9.1
ptyprocess
Pygments
python-dateutil
pytz
six
sqlparse
toml
traitlets
typing-extensions
wcwidth
